body {
  background-color: rgb(196, 193, 193);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  margin: auto;
  padding-top: 30px;
}
.box {
  background-color: rgb(245, 240, 240);
  padding: 20px;
  margin: 30px;
  position: relative;
  transition: transform 0.5s;
}
.top-header {
  background-color: rgb(66, 64, 64);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  /*display: flex;
  justify-content: center;*/
 
 
}
.menu-item {
  color: white;
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  
}
.brand {
  font-size: 20px;
  font-weight: bold;
  color: yellow;
}


.x:hover {
  transform: translateX(20px);
}
.y:hover {
  transform: translateY(10px);
}

.image {
  width: 100%;
  cursor: pointer;
}

.title {
  color: blue;
}
.button {
  color: rgb(247, 243, 243);
  background-color: rgb(44, 13, 218);
  padding: 10px;
  text-decoration: none;
  display: inline-block;
}
.bottom-footer {
  background-color: rgb(128, 126, 124);
  padding: 15px;
  text-align: center;
}
a:hover {
  background-color: rgb(207, 230, 9);
}
.view {
  position: absolute;
  top: 30px;
  left: 40px;
  background-color: rgb(175, 10, 10);
  color: rgb(250, 249, 246);
  padding: 5px;
}
.icon {
  position: absolute;
  left: 50px;
  bottom: 170px;
  
}
